{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Willkommen</h1>
    
    {% if current_user %}

        <a href="/parking/new" class="btn btn-outline-success btn-sm">Parkplatz hinzufügen</a>
        
        {% for parking in user_parkings %}

            <hr>
            
            <dl class="row mt-3">
                <dt class="col-sm-2">Adresse: </dt>
                <dd class="col-sm-4">{{ parking.carpark_name }}  </dd>
                <dt class="col-sm-2">Status: </dt>
                <dd class="col-sm-4">{{ parking.is_shared }} </dd>
                <dt class="col-sm-2">Straße: </dt>
                <dd class="col-sm-4">{{ parking.street }} {{ parking.street_number }}, {{ parking.zip_code }} {{ parking.city }} </dd>
                <dt class="col-sm-2">Funktionen: </dt>
                <dd class="col-sm-2">
                    <a href="parking/{{ parking.id }}/share" >Freigeben</a>
                    </dd>
                <dd class="col-sm-2">
                    <a href="/parking/{{ parking.id }}/view-shares">Verlauf</a>
                </dd>
            </dl>
           
        {% else %}
            <p>Bislang keine Parkplätze vorhanden.</p>
        {% endfor %}
        
    {% else %}
        <a href="/signup/new" >Registrieren</a> oder <a href="/login" >Einloggen</a>.
    {% endif %}

{% endblock %}